@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

/* DEFAULT SETTING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.max-width {
  max-width: 130rem;
  padding: 0rem 8rem;
  margin: auto;
}

/* navbar style */
.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 3rem 0;
  transition: all 0.2s ease;
}
.navbar.sticky {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  
  padding: 1.5rem 0;
}
.navbar .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  font-size: 3.5rem;
  font-weight: 600 !important;
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
}
.navbar .logo a span {
  color: rgb(175, 17, 83);
  transition: all 0.2s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar ul li {
  display: inline-flex;
  list-style: none;
}
.navbar ul li a {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 2.5rem;

  transition: all 0.2s ease;
}
.navbar ul li a:hover {
  color: rgb(175, 17, 83);
  transition: all 0.2s ease;
}
.navbar.sticky ul li a:hover {
  color: rgb(255, 255, 255);
}
.navbar .show-menu {
  display: none;
}
.navbar .show-menu a i {
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
}



/* home */
.home {
  height: 100vh;
  display: flex;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  min-height: 50rem;
  background-image: url(../asses/images/banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home .max-width {
  margin: auto 0px auto 4rem;
}
.home .home-content .text-1 {
  font-size: 2.7rem;
}
.home .home-content .text-2 {
  font-size: 6rem;
  font-weight: 600;
  margin-left: -0.3rem;
  margin: 1.5rem 0;
}
.home .home-content .text-3 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.home .home-content .text-3 span {
  color: rgb(175, 17, 83);
  font-weight: 500;
}
.home a {
  font-size: 2.5rem;
  background-color: rgb(175, 17, 83);
  border: 0.2rem solid rgb(175, 17, 83);
  color: #fff;
  padding: 1.3rem 3.3rem;
  border-radius: 0.7rem;
  font-weight: 400;
  transition: 0.3s ease-out;
}
.home a:hover {
  background-color: transparent;
  color: rgb(175, 17, 83);
}



/* about section */
.about {
  height: 100vh;
  padding: 10rem 0rem;
}
.about .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
}
.about .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 18rem;
  height: 0.3rem;
  background-color: #111;
  transform: translateX(-50%);
}
.about .title::after {
  content: "who i am";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  font-size: 2rem;
  color: rgb(175, 17, 83);
  padding: 0.5rem;
  background: #ffffff;
  transform: translateX(-50%);
}
.about .about-content {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}
.about .about-content .column-left{
  width: 45%;
}
.about .about-content .column-left img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about .about-content .column-right{
  width: 55%;
}
.about .about-content .column-right h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.about .about-content .column-right h2 span{
  color: rgb(175, 17, 83);
}
.about .about-content .column-right p{
  font-size: 1.6rem;
  text-align: justify;
  margin-bottom: 3rem;
  line-height: 2.8rem;
}
.about .about-content .column-right a{
  background-color:rgb(175, 17, 83) ;
  color: #fff;
  font-size: 2rem;
  padding: 1.3rem 2.5rem;
  border: 2px solid rgb(175, 17, 83);
  border-radius: 0.6rem;
  transition:all 0.3s ease;
  margin-right: 2rem;
 
}
.about .about-content .column-right a:hover{
  background-color: transparent;
  color: rgb(175, 17, 83);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* skills */
.skills{
  height: 100%;
  padding: 10rem 0;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}

.skills .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
  color: #fff;
}
.skills .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 18rem;
  height: 0.3rem;
  background-color: #ffffff;
  transform: translateX(-50%);
}
.skills .title::after {
  content: "What I do";
  position: absolute;
  bottom: -1.3rem;
  border-radius: 0.6rem;
  left: 50%;
  font-size: 2rem;
  color:  rgb(241, 3, 102);
  padding: 0.5rem;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  transform: translateX(-50%);
}
.skills .skils-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills .skils-content .card {
  width: 25rem;
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 0.5rem 1rem 0rem 4rem;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  transition: all 0.5s ease-in-out;
}
.skills .card:hover{
  transform: scale(1.1);
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);

}
.skills .card img{
  width: 10rem;
  height: 10rem;
}
.skills .card h2{
  font-size: 1.8rem;
  margin: 1rem 0;
}
.skills .card .star i{
  display: inline-block;
  font-size: 1.8rem;
  color: rgb(12, 12, 12);
}


/* tools */
.tools{
  width: 100%;
  background: linear-gradient(rgba(40, 49, 59, 0.8), rgba(40, 49, 59, 0.9)), url(../asses/images/tool-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
  color: #fff;
}
.tools .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
  color: #fff;
}
.tools .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 18rem;
  height: 0.3rem;
  background-color: #ffffff;
  transform: translateX(-50%);
}
.tools .title::after {
  content: " I Am Using";
  position: absolute;
  bottom: -1.3rem;
  /* border-radius: 0.5rem; */
  left: 50%;
  font-size: 2rem;
  color:  rgb(241, 3, 102);
  padding: 0.5rem 1rem;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  transform: translateX(-50%);
}
.tools .tools-content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tools .tool-name{
  width: 20rem;
  text-align: center;
  margin-bottom: 3rem;
  transition: all 0.3 ease;
}
.tools .tool-name:hover{
  transform: translateY(-2rem);
}
.tools .tool-name img{
   width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}
.tools .tool-name h2{
 font-size: 2rem;
 font-weight: 500;
}


/* contact section */
.contact{
  height: 100vh;
  padding: 10rem 0;
}
.contact .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
  color: #000000;
}
.contact .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20rem;
  height: 0.3rem;
  background-color: #000000;
  transform: translateX(-50%);
}
.contact .title::after {
  content: " Get in Touch";
  position: absolute;
  bottom: -1.1rem;
  left: 50%;
  font-size: 2rem;
  color:  rgb(241, 3, 102);
  background-color: #fff;
  transform: translateX(-50%);
}
.contact .contact-content{
  display: flex
}
.contact .contact-left{
  width: 45%;
}
.contact .contact-left img{
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.7rem;
}
.contact .contact-right{
  width: 55%;
}
.contact .contact-right h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(241, 3, 102);
}
.contact .contact-right p{
  font-size: 1.4rem;
}
.contact .details{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0;
}
.contact .details a{
  font-size: 3.5rem;
  color: rgb(241, 3, 102);
}
.contact .details p{
    font-size: 1.6rem;
}
.contact .details p a{
  font-size: 1.6rem;
  color: #000000;
}
.contact .details h2{
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.8rem;
  color: #000000;
}
.contact .social-link a{
  display: inline-block;
  padding-right: 1rem;
  margin-top: 1rem;
}
.contact .social-link a i{
  font-size: 3rem;
  padding: 0.8rem;
  background-color: #28313b;
  border: 0.2rem solid #28313b;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}
.contact .social-link a i:hover{
  color: #28313b;
  background-color: transparent;
}
.footer{
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}
.footer .footer-content{
  display: flex;
}
.footer .box-1{
  width: 25rem;
}
.footer .box-1 h2{
  margin: 2rem 0 1rem;
  color: rgb(241, 3, 102);
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.footer .box-1 .add{
  font-size: 1.4rem;
  font-weight: 500;
  color: #F3FDE8;
  margin-bottom: 0.5rem;
}
.footer .box-1 span{
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  color: #FFBFBF !important;
}
.footer .box-1 p{
  font-size: 1.3rem;
  margin-bottom:0.5rem ;
  font-weight:400;
  color: #fafafa;
}
.footer hr{
  margin-top: 1rem;
}
.footer .copy-rigths{
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-weight: 400;
}
.footer .copy-rigths span{
  color: rgb(241, 3, 102);
}




/* responsive media qurey */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0;
  }
  .tools .tool-name{
    width: 15rem;
  }
}
@media (max-width: 1140px) {
  .about .about-content .column-right{
    width: 50%;
  }
  .about .about-content .column-left img {
    width: 35rem;
    height: 35rem;
  }
  .about .about-content .column-right h2{
    margin-bottom: 1rem;
  }
  .about .about-content .column-right p{
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 2.6rem;
  }
  .contact .contact-right{
    width: 55%;
  
  }
  .contact .social-link a i{
    font-size: 2.8rem;
  }
  .contact .contact-left img{
    width: 35rem;
    height: 35rem;
    text-align: center
  }
  .contact .details a{
    font-size: 3rem;
    color: rgb(241, 3, 102);
  }
  .contact .details p{
      font-size: 1.4rem;
  }
  .contact .details p a{
    font-size: 1.6rem;
    color: #000000;
  }
  .contact .details h2{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.6rem;
    color: #000000;
  }
}


@media (max-width: 947px) {
  .navbar .logo a {
    font-size: 3rem;
  }
  .max-width {
    padding: 0rem 5rem;
  }
  .navbar .show-menu {
    display: initial;
    z-index: 999;
  }
  .navbar .show-menu a i.active::before {
    content: "\f00d";
  }
  .navbar .nav-item {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #111;
    text-align: center;
    padding-top: 8rem;
    transition: all 0.3s ease;
  }
  .navbar .nav-item.active {
    left: 0%;
  }
  .navbar .nav-item ul li {
    display: flex;
    flex-direction: column;
  }
  .navbar .nav-item ul li a {
    display: inline-block;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  .home .home-content .text-2 {
    font-size: 5rem;
  }
  .home .home-content .text-3 {
    font-size: 3rem;
  }
  .home a {
    font-size: 2.3rem;
    padding: 1rem 3rem;
  }
  .about {
    height: 100%;
    padding: 8rem 0;
  }
  .max-width {
    max-width: 80rem;
  }
  .about .about-content .column{
    width: 100%;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 6rem;
  }
  .about .about-content .right{
    flex: 100%;
  }
  .about .about-content .column-right p{
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 3rem;
    line-height: 2.8rem;
  }

  .skills .skils-content{
    justify-content: center;
  }
  .skills .skils-content .card {
    margin: 0rem auto 3rem;
  }
  .tools .tool-name{
    width: 20rem;
  }
  .contact{
    height: 100% !important;
  }
  .contact .contact-content{
    flex-direction: column;
  }
  .contact .contact-left{
    width: 100%;
  }
  .contact .contact-right{
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0rem 3.5rem;
  }
  .home .home-content .text-2 {
    font-size: 4rem;
  }
  .home .home-content .text-3 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  .home a {
    font-size: 2rem;
  }
  .skills {
    padding: 8rem 0;
  }
  .tools .tool-name{
    width: 17rem;
  }
  .contact {
    height: 100vh;
    padding: 8rem 0 4rem 0;
  }
  .contact .contact-right p {
    font-size: 1.4rem;
    text-align: justify;
  }
  .contact .details p a {
    font-size: 1.4rem;
    color: #000000;
  }
}
@media (max-width: 500px) {
  .max-width {
    padding: 0rem 3rem;
  }
  .home .home-content .text-1 {
    font-size: 2.4rem;
  }
  .home .home-content .text-2 {
    font-size: 3.8rem;
  }
  .home .home-content .text-3 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .about {
    padding: 5rem 0rem;
  }
  .about .about-content .column-left img {
    width: 30rem;
    height: 30rem;
  }
  .about .about-content .column-right h2 {
    font-size: 2rem;
  }
  .about .about-content .column-right a {
    font-size: 1.6rem;
    padding: 1rem 2.5rem;
  }
  .tools .tool-name{
    
    margin: 0rem auto 3rem;
  }
  .contact .contact-left{
    text-align: center;
  }
  .contact .contact-left img {
    width: 30rem;
    height: 30rem;
    
}
.contact .social-link a i {
  font-size: 2.5rem;
  padding: 0.6rem;
}

}
