@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* DEFAULT SETTING */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
 body{
    font-family: 'Poppins', sans-serif;
}

.max-width{
    max-width: 130rem;
    padding: 0rem 8rem;
    margin: auto;
}


/* navbar style */
.navbar{
    position: fixed;
    width: 100%;
    padding: 3rem 0;
    transition: all 0.2s ease;
}
.navbar.sticky{
      background-color: rgb(175, 17, 83);
      padding: 1.5rem 0;
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.navbar .logo a{
    font-size: 3.5rem;
    font-weight: 600 !important;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
}
.navbar .logo a span{
    color:rgb(175, 17, 83);
    transition: all 0.2s ease;
}
.navbar.sticky .logo a span{
    color:#fff;
}
.navbar ul li{
    display: inline-flex;
    list-style: none;

}
.navbar ul li a{
    color: #fff;
    font-size: 1.8rem;
   margin-left: 2.5rem;

   transition: all 0.2s ease;
}
.navbar ul li a:hover{
    color: rgb(175, 17, 83);
    transition: all 0.2s ease;
}
.navbar.sticky ul li a:hover{
    color: rgb(255, 255, 255);
}
.navbar .show-menu{
    display: none;
}
.navbar .show-menu a i{
    color: #fff;
    font-size: 2.3rem;
    cursor:pointer;
   
}

/* home */
.home{
    height: 100vh;
    display: flex;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 50rem;
    background-image: url(../asses/images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .max-width{
    margin: auto 0px auto 4rem;
}
.home .home-content .text-1{
    font-size: 2.7rem;
}
.home .home-content .text-2{
    font-size: 6rem;
    font-weight: 600;
    margin-left: -0.3rem;
    margin: 1.5rem 0;
   
}
.home .home-content .text-3{
    font-size: 3.5rem;
    margin-bottom: 5rem;
}
.home .home-content .text-3 span{
    color: rgb(175, 17, 83);
    font-weight: 500;
}
.home a{
    font-size: 2.5rem;
    background-color: rgb(175, 17, 83);
    color: #fff;
    padding: 1.3rem 3rem;
    border-radius: .5rem;
    font-weight: 400;
    transition: 0.2s ease-out;
   
}
.home a:hover{
    background-color: transparent;
    border: .2rem solid rgb(175, 17, 83);
    color: rgb(175, 17, 83);
   
}
/* responsive media qurey */
@media (max-width:1140px){
    .home .max-width{
        margin-left: 0;
    }
}
@media (max-width:947px){
    /* .navbar{
        width: 100%;
    } */
    .max-width{
        padding: 0rem 5rem; 
    }
    .navbar .show-menu{
        display: initial;
        z-index: 999;
    }
    .navbar .show-menu a i.active::before{
        content: "\f00d";
    }
    .navbar .nav-item{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #111;
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .nav-item.active{
        left: 0%;
    }
    .navbar .nav-item ul li {
      display: flex;
      flex-direction: column;
    }
    .navbar .nav-item ul li a{
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .home .home-content .text-2{
        font-size: 5rem;
       
    }
    .home .home-content .text-3{
        font-size: 3rem;
    }
    
}